<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="orm.mybatis.idao.ISysMenuMapper">
	<select id="SelectAll" parameterType="Map" resultType="model.sysmodel.entity.Sys_Menu">
        select * from SYS_Menu where ISDEL = 0
    </select>
    
    <select id="QuerySysUserByPage" parameterType="model.sysmodel.entity.Sys_Menu" resultType="model.sysmodel.entity.Sys_Menu">
        select * from SYS_Menu
    </select>
</mapper>